<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Enter activation code sent to your email</h2>
    <div class="errors">
        {% if messages %} {% for message in messages %}
        <h1 style="color: red; text-align: center">{{message}}</h1>
        {% endfor %} {% endif %}
      </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Enter username</label>
            <input type="text" placeholder="Enter username" class="form-control" id="username" name="username" required>
            
        </div>
        
        <button type="submit" class="btn btn-primary">Resend</button>
        
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
